<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Create User</title>
</head>
<body>
    <h2>Create User Account</h2>
    <form action="/admin/create_user" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <label>Register As:</label><br>
        <select name="profile_id" required>
            {% for pid, pname in profiles %}
                <option value="{{ pid }}">{{ pname }}</option>
            {% endfor %}
        </select><br><br>


        <input type="submit" value="Create Account">
    </form>
    
    <br>
    <a href="/admin/create_profile">
        <button type="button">Register new profile</button>
    </a>

    <br><br>
    <a href="/admin/view_accounts">
        <button type="button">View existing account</button>
    </a>

    <br><br>
    <a href="/">
        <button type="button">Logout</button>
    </a>
    

    {%if message %}
        <div class="message">{{message}}</div>
    {% endif %}

</body>
</html>
