<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <h2>Update User Account</h2>
    <form action="/admin/update_user/{{ user[0] }}" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" value="{{ user[1] }}"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <label>Profile:</label><br>
        <select name="profileid" id="profileid">
            <option value="1" {% if user[3] == 1 %}selected{% endif %}>User Admin</option>
            <option value="2" {% if user[3] == 2 %}selected{% endif %}>Cleaner</option>
            <option value="3" {% if user[3] == 3 %}selected{% endif %}>Homeowner</option>
            <option value="4" {% if user[3] == 4 %}selected{% endif %}>Platform Management</option>
        </select>
        <br><br>
        <input type="submit" value="Update">
        <br><br>
        <a href="/admin/view_accounts">Back to view accounts page</a>
    </form>
</body>
</html>
