<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Service Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pm_update_service_category.css') }}">
</head>
<body>
    <div class="layout">
        <div class="sidebar">
            <h2>[X] MACS</h2>
            <a href="{{ url_for('view_category.view_category') }}" style="text-decoration: underline;">👤 View Categories</a>
            <a href="/admin/view_report">🔍 View Reports</a>
            <a href="/">❌ Logout</a>
        </div>

        <div class="main">
            <div class="topbar">
                <h2>Service Categories</h2>
            </div>

            <div class="form-card">
                <form action="{{ url_for('update_category.update_category_form', category_id=category.categoryid) }}" method="POST">
                    <div class="form-header">
                        <h3>Edit Service Category</h3>
                        <a href="{{ url_for('view_category.view_category') }}" class="close">&times;</a>
                    </div>
                    <div class="form-grid">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input type="text" name="category_name" value="{{ category.categoryname }}" required>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit">Save</button>
                    </div>
                </form>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="message">
                      {% for message in messages %}
                        <div>{{ message }}</div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</body>
</html>
